.AboutPage{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
  background-color: lightgray;
}

.navLine{
  
  text-align: right;
}

.contentContainer{
  width: 100%;
  min-height: calc( 100vh - 160px );
  max-height: calc( 100vh - 160px );
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  background-color: rgb(0,0,0,.9);
  
}

.bshadow {
  box-shadow: 5px 5px 5px darkgray;
}
.headingText{
  font-size: larger;
  max-width: 100px;
  padding-top: 5px;
  border-top: darkgray solid 2px;
  border-bottom: darkgray solid 2px;

}


.blueBorder{
  border: #8bb7f0 solid 2px;
  border-radius: 8px;
  
}
.blueBorder:hover{
  border-width: 3px;
  cursor: pointer;
}

.process{
  position: relative;
  display: flex;
  flex-direction: row;  
  height: 100%;
  
  
}
.outerBox{
  position: relative;
  text-align: center;
  align-self: center;
  max-width: 40%;
  min-width: 40%;
  max-height: 100%;
  min-height: 100%;
}
.processDescription{
  position: absolute;
  top: 10%;
  left: 25%;
  width: 75%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 2.3rem;
  color: white;
  background-color: rgb(0,0,0,.5) ;
  border-radius: 50px;
  border: solid white 1px ;
}

@media only screen and (max-width: 1800px) {
  .processDescription {
    font-size: 2rem;   
    width: 75%;
  }
}

@media only screen and (max-width: 1700px) {
  .processDescription {
    font-size: 1.8rem;  
    width: 80%;
  }
}
@media only screen and (max-width: 1300px) {
  .processDescription {
    font-size: 1.4rem;   
    width: 85%;
  }
}


.processBox{
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  top: 10px;
}
.processLabel{
  text-align: start;
  font-size: xx-large;
  color: white;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 30px;
  max-width:200px;
  background-color:lightskyblue;
  border-radius: 30px;
  border: lightskyblue solid 2px;
}
.processLabel:hover{
  border: white solid 2px;
  cursor: pointer;
}

.processImageBox{
  position: relative;
  
  width: 100%;
  
}
.cardField{
  position: relative;
  text-align: center;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;

}
.missionOverlay{
  position: absolute;
  top: 10%;
  left: 25%;
  width: 50%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 2.5rem;
  color: white;
  background-color: rgb(255,255,255,0) ;
  border-radius: 50px;
  border: solid white 1px ;

}
@media only screen and (max-width: 1400px) {
  .missionOverlay {
    font-size: 1.8rem;
    left: 20%;
    width: 60%;
  }
}
@media only screen and (max-width: 1000px) {
  .missionOverlay {
    font-size: 1.4rem;
    left: 15%;
    width: 70%;
  }
}

.connect{
  background-color: rgba(226, 223, 223, 0.877);
  color: black;
  left:12%;
  top:2%;
  border: black solid 1px;
  width: 20%;
  height:96%;
}
.measurePoints{
  background-color: rgba(0,0,0,.5);
  color: black;
  left:12%;
  top:70%;
  border: black solid 1px;
  width: 60%;
  height:20%;
}
.proButton{
  font-size: 2rem;
  color: lightgray;
  border: lightgray solid 1px;
  padding: 5px;
  border-radius: 12px;
  cursor: pointer;
}
.proButton:hover{
  color: lightskyblue;
  border: lightskyblue solid 1px;
  padding: 5px;
  border-radius: 12px;
  background-color: rgb(255,255,255,.2);
  cursor: pointer;
}

.leftScreenClick{
  position: absolute;
  left:20px;
  top:50%;
  
}

.rightScreenClick{
  position: absolute;
  right:20px;
  top:50%;
  
}

.mission-bg{
  position: relative;
  min-width: 100%;
  max-height: 100%;
  object-fit: none;

}
.connect-bg{
  position: relative;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;

}


.contentFlexArea{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: rgb(0,0,0,.7);
 
}
.bgc90{
  background-color: rgb(0,0,0,.9); 
}
.bcgSepia{
  background-color: rgb(43.9,25.9,7.8,.8); 
}
.capture-bg{
  position: relative;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  object-fit: cover;
}

.missionTextBlock{
  text-align: center;
  max-width: 60%;
}

.missionText{
  font-family: Georgia, 'Times New Roman', Times, serif;
  
  font-size: 1.5rem;
  margin: auto;
  margin-top: 20%;
  line-height: 1rem;
  
  color:whitesmoke;
}

.bottomNavLine{
  position: absolute;
  top : calc( 100vh - 80px );
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.upButton{
  position: absolute;
  top: 0 ;
  left: calc( 50% - 60px );
  z-index: 200;
  
}

.mailTo{
  margin: 0;
  color: lightskyblue;
  text-decoration: none;
  position: absolute;               
  top: 50%;                           
  left: 40%;
  border :lightskyblue solid 1px;
  border-radius: 10px;
  padding: 20px;
  font-size: 2.5rem;
}
.mailTo:hover{
  color: whitesmoke;
}

.mainPageLink {
  
  font-size: 1.25rem;
  margin-right: 2rem;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  padding: 0.5rem;
  color:cornflowerblue;
  display: inline-block;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}
.mainPageLink:hover {
  opacity: 0.5;
}

.processLink{
  
  color: white;
  border: white solid 1px;
  border-radius: 25px;
  margin-right: 0px;
  background-color: lightskyblue;
  border: lightskyblue solid 2px;
  padding: 0.5rem;
  font-size: 1.5rem;
  min-width: 200px;
  max-width: 200px;
}
.processLink:hover{
  border: white solid 2px;
  cursor: pointer;

}

.processLinkLine{
  position: absolute; 
  bottom: 0px; 
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  
  
}

.landingImage{
  width:70%;
  
}

  

  